<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.semba.androidsamples">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".Helper.PagedApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service
                android:name=".ArchForegroundService.MyForegroundService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".LocationUpdatesWithBroadcastReceiver.LocationTrackerBroadcastActivity">
        </activity>

        <receiver
                android:name=".LocationUpdatesWithBroadcastReceiver.LocationUpdatesBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.semba.androidsamples.LocationUpdatesWithBroadcastReceiver.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".LocationUpdatesWithBroadcastReceiver.LocationUpdatesIntentService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".ArchPagination.MainScreen.NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>